@model JKimAssignment3.Models.MovieDetailsVM

@{
    ViewData["Title"] = "Details";
}

<body id="movieDetailsIndex">
    <div class="container-fluid" id="centeredTopText">
        <h1>Let's Take a Gander</h1>
        <p><i>What is this Wes Anderson film?</i></p>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <img src="https://screenmusings.org/movie/blu-ray/The-Grand-Budapest-Hotel/images/The-Grand-Budapest-Hotel-011.jpg" width="100%" />
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <br />
    <div class="container-fluid" id="centeredItem">
        <dl class="row">
            <dt class="col-sm-6" id="leftAlign">
                Title
                @*@Html.DisplayNameFor(model => model.Movie.Title)*@
            </dt>
            <dd class="col-sm-6" id="rightAlign">
                @Html.DisplayFor(model => model.Movie.Title)
            </dd>
            <dt class="col-sm-6" id="leftAlign">
                IMDb Link
                @*@Html.DisplayNameFor(model => model.Movie.ImdbLink)*@
            </dt>
            <dd class="col-sm-6" id="rightAlign">
                @Html.DisplayFor(model => model.Movie.ImdbLink)
            </dd>
            <dt class="col-sm-6" id="leftAlign">
                Genre
                @*@Html.DisplayNameFor(model => model.Movie.Genre)*@
            </dt>
            <dd class="col-sm-6" id="rightAlign">
                @Html.DisplayFor(model => model.Movie.Genre)
            </dd>
            <dt class="col-sm-6" id="leftAlign">
                Release Year
                @*@Html.DisplayNameFor(model => model.Movie.Year)*@
            </dt>
            <dd class="col-sm-6" id="rightAlign">
                @Html.DisplayFor(model => model.Movie.Year)
            </dd>
            <dt class="col-sm-6" id="leftAlign">
                Poster
                @*@Html.DisplayNameFor(model => model.Movie.MovieImage)*@
            </dt>
            <dd class="col-sm-6" id="rightAlign">
                @if (Model.Movie.MovieImage != null)
                {
                    <img width="150" height="175" src="@Url.Action("GetMovieImage", "Movie", new {Model.Movie.Id})" />
                }
            </dd>
        </dl>
    </div>
    <br />
    <div class="container-fluid" id="centeredItem">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <a asp-action="Edit" asp-route-id="@Model?.Movie.Id" class="btn btn-dark btn-width">Edit</a>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <a asp-action="Index" class="btn btn-dark btn-width">Back to List</a>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <br />
    <div class="container-fluid" id="centeredItem">
        <h3><i>
            Average Tweet Sentiment:
            @if (Model.OverallAverageSentiment() != 0)
            {
                <span>@Model.OverallAverageSentiment()</span>
            }

            @if (Model.OverallAverageSentiment() > 0)
            {
                <span>Positive</span>
            }
            else if (Model.OverallAverageSentiment() < 0)
            {
                <span>Negative</span>
            }
        </i></h3>
    </div>

    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>Tweet</th>
                <th>Sentiment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tweet in Model.Tweets)
            {
                <tr>
                    <td>@tweet.Tweet</td>
                    <td>@tweet.Sentiment</td>
                </tr>
            }
        </tbody>
    </table>
</body>
