@model IEnumerable<JKimAssignment3.Models.MovieActor>

@{
    ViewData["Title"] = "Index";
}

<body id="movieActorIndex">
    <div class="container-fluid" id="centeredTopText">
        <h1>Movies & Actors</h1>
        <p style="padding-bottom: 10px;"><i>Let's be real... Wes Anderson uses the same five actors for everything</i></p>
        <p>
            <a asp-action="Create" class="btn btn-dark">Create New</a>
        </p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img src="https://screenmusings.org/movie/blu-ray/Moonrise-Kingdom/images/Moonrise-Kingdom-027.jpg" width="100%" />
            </div>
            <div class="col-4">
                <img src="https://screenmusings.org/movie/blu-ray/Moonrise-Kingdom/images/Moonrise-Kingdom-028.jpg" width="100%" />
            </div>
            <div class="col-4">
                <img src="https://screenmusings.org/movie/blu-ray/Moonrise-Kingdom/images/Moonrise-Kingdom-029.jpg" width="100%" />
            </div>
        </div>
    </div>
    <br />
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th>
                    Actor
                    @*@Html.DisplayNameFor(model => model.Actor)*@
                </th>
                <th>
                    Movie
                    @*@Html.DisplayNameFor(model => model.Movie)*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actor.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>

